# Local
node_modules
.next
out
build
dist

# Env
.env
.env.local
.env.production
.env.development.local

# Misc
.DS_Store
*.log
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal
.env*.local
.vercel
